
  <nav class="navbar navbar-expand-lg pb-1 sticky-top container-fluid ">
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="container-fluid navbarn">

      <div class="collapse navbar-collapse justify-content-center mb-2" id="navbarNavAltMarkup">

        <div class="navbar-nav gap-4 fw-bold ">
          <a class="nav-link active text-light" href="#home">Home</a>

          <a class="nav-link active text-light" href="#about">About</a>


          <a class="nav-link active text-light" href="#portfolio">Portfolio</a>

          <a class="nav-link active text-light" href="#service">Service</a>


          <a class="nav-link active text-light" href="#contact">Contact</a>
          <button class=" btn nav-link active rounded-4 border-light bg-danger w-50 text-light"> Download CV</button>
        </div>
      </div>
     

    </div>
  </nav>
  <div class="container-fluid pt-3 sub1 mb-5" id="home">
    <div class="row gap-4  main">
      <div class="col-lg-8">
        <h3 class="fs-2" style="color: orangered;" >Hello, I'm</h3>
        <h1 class="detail" >
          <span style="--i:1">Anto</span>
          <span class="nameLet" style="--i:6">D</span>
          <span class="nameLet" style="--i:7">h</span>
          <span class="nameLet" style="--i:8">a</span>
          <span class="nameLet" style="--i:9">s</span>
        </h1>

        <p class="fs-3 ">A <span class="text-success"> Creative Designer </span> and <span
            class="text-primary">Front-end Developer </span></p>

        <p class="define">A professional web developer with long time attentiveness in this field., and I'm very
          passionate and dedicated to my work.</p>
        

       
      </div>
      <div class="col-lg-3">
        <img style="border-radius: 5%;" class="img-fluid" src="assets/images/Untitled design (1).png" alt="" width="90%">
      </div>
    </div>

    <div class="row">
      <div class="col mail">
        
        <img src="assets/images/email-marketing.png" alt="" width="15%" >
        <img src="assets/images/web-chat.png" alt="" width="15%">
      
       
      </div>
    </div>
    <div class="container text-center pb-2 pb-2">
      <div class="row">
        <div class="col">
          <button class="btn border-danger rounded-4 bg-danger p-2 px-3 text-light">Hire Me</button>
        </div>
      </div>
    </div>
  </div>
