<h2 class="text-center mb-5" style="color: orangered;">Contact</h2>

<div class="container-fluid bg-light text-center mb-5 pt-5" id="contact">
  <div class="row">
    <div class="col" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <img src="assets/images/placeholder.png" alt="" height="30%">
      <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Address</h3>
      <h4 style="font-family: monospace;">Kanniyakumari</h4>
    </div>
    <div class="col" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <img src="assets/images/gmail.png" alt="" height="30%">
      <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">E-mail</h3>
      <h4 style="font-family: monospace;">antodhas4@gmail.com</h4>
    </div>
    <div class="col" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <img src="assets/images/phone.png" alt="" height="30%">
      <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Phone</h3>
      <h4 style="font-family: monospace;">+919486941652</h4>

    </div>
  </div>
</div>



<!-- form -->
<div class="container text-center">
<h2>I Want To Hear From You</h2>

 <p> Please fill out the form on this section to contact or call with me.</p>

</div>

<div class="container bg-light">
  <div class="row g-3 pb-4">
    <div class="col-lg-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name">
        <label for="floatingInput">Your Name</label>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="number">
        <label for="floatingInput">Your PhoneNo</label>
      </div>
  </div>
  </div>
</div>
  <div class="container bg-light" >

  <div class="row g-3">
    <div class="col-lg-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="subject">
        <label for="floatingInput">Your Subject</label>
      </div>
  </div>
  </div>
  </div>


  <div class="container bg-light">
  <div class="row g-3 pb-4">
    <div class="col">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 100px"></textarea>
        <label for="floatingTextarea2">Write your message here</label>
      </div>
    </div>

  </div>
  </div>


  <div class="container text-center mb-5">
  <button class="btn border-danger rounded-4  p-2 px-3 text-light" style="background-color: orangered;">Submit Now</button>

</div>
