<div class="container pb-5 mt-3 ">
    <div class="row">
  
      <div class="col-10 col-lg-3 mb-4"   data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <div class="bg-white rounded-lg p-5 shadow prog">
         

            <span class="labelopen">HTML</span>
            <div class="animated-progress progress-red">

                <span data-progress="95">95%</span>
            </div>

      
        </div>
      </div>
  
      <div class="col-10  col-lg-3 mb-4" 
       data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <div class="bg-white rounded-lg p-5 shadow prog">
          <span class="labelopen">CSS</span>
          <div class="animated-progress progress-green">
              <span data-progress="80">80%</span>
          </div>
  
         
         
        </div>
      </div>
  
      <div class="col-10 col-lg-3 mb-4" 
       data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <div class="bg-white rounded-lg p-5 shadow">
          <span class="labelopen">BOOTSTRAP</span>
            <div class="animated-progress progress-blue">
                <span data-progress="70">70%</span>
  
         
     
        </div>
      </div>
      </div>
  
      <div class="col-10 col-lg-3 mb-4"  
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <div class="bg-white rounded-lg p-5 shadow">
          <span class="labelopen">JAVASCRIPT</span>
            <div class="animated-progress progress-yellow">

                <span data-progress="60">60%</span>
            </div>
  
          

        </div>
      </div>
    </div>
    <div class="row">
  
        <div class="col-10 col-lg-3 mb-4"   data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <div class="bg-white rounded-lg p-5 shadow prog">
           
  
              <span class="labelopen">ANGULAR</span>
              <div class="animated-progress progress-black">
  
                  <span data-progress="60%">60%</span>
              </div>
  
        
          </div>
        </div>
        
    </div>
  </div>
