<div class="container-fluid mt-1 col-lg-11 col-10"
    style=" background-image: white;" id="about">
    <div class="row">
        
        <div class="col-lg-5 col-10 downside5 " >

            <div class="text11" data-aos="fade-up">
                <h2 style="color: orangered;">I'm a Developer </h2>

            </div>

            <h2>
                <span style="color: navy;" data-aos="zoom-in"> I Can</span> <br>


               <span class="fs-1"  style="color: brown;" data-aos="zoom-in"> Design & Develop </span> <br>




          
            <span style="color: navy;">Anything You Want</span></h2>
            <div class="text13 fs-5 text-start">
                <p class="fs-4"  data-aos="fade-right">Hi there! <br>
                <p class="fs-5" style="color: red; font-family: sans-serif;" data-aos="fade-up-right">I am outgoing, dedicated, and open-minded. I get across to people and
                    adjust to changes with
                    ease.</p>
                <p data-aos="fade-right">
                    I believe that a person should work on developing their professional skills and
                    learning new things all the time. Currently, I am looking for new career opportunities <br>
                    my current job position cannot provide.</p>


            </div>




        </div>
      
        <div class="col-lg-3 col-10">
            <img src="assets/images/an edited.png"  alt="" width="100%" >
        </div>
        <div class="col-lg-3 col-10 text-center sidebar pt-2 pb-2  " >
            <h2 class=" pb-2 border border-5-light rounded-4 text-center list"
                style="font-size: 120%;color: blue; background-color: white;"  data-aos="fade-left" ><b>Artistic & Beautify</b></h2>

            <h2 class="pb-2 border border-5-light rounded-4 text-center list"
                style="font-size: 120%;color: blue; background-color: white;" data-aos="fade-right">
                <b>To design Algorithm</b>
            </h2>
            <h2 class="pb-2 border border-5-light rounded-4 text-center list"
                style="font-size: 120%;color: blue; background-color:white;" data-aos="fade-left"><b>Verify & Deploy
                    programs</b>
            </h2>
            <h2 class="pb-2 border border-5-light rounded-4 text-center list"
                style="font-size: 120%;color: blue; background-color: white;" data-aos="fade-right"><b> Evaluate user
                    feedback</b></h2>
            <h2 class="pb-2 border border-5-light rounded-4 text-center list"
                style="font-size: 120%;color: blue ;  background-color: white" data-aos="fade-left">
                <b>Produce clean & Efficient
                    code</b>
            </h2>
            <h2 class="pb-2 border border-5-light rounded-4 text-center list"
                style="font-size: 120%;color: blue;  background-color: white" data-aos="fade-right"><b>Integrate
                    software
                    components</b> </h2>
            <h2 class="pb-2 border border-5-white rounded-4 text-center list" 
                style="font-size: 120%;color: blue; background-color:white" data-aos="fade-left"><b>Ability to create</b></h2>
        </div>



    </div>
</div>


