<div class="container text-center" id="service" >
    <div class="row">
      <div class="col">
        <h2 style="color: orangered;">Services</h2>
        <h3>What I do for the Clients</h3>
      </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row mb-5" >
      <div class="col-10 col-lg-6 col1"data-aos="fade-up">
        <img src="assets/images/application.png" alt="" width="10%">
        <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;">
            Web Development</h2>
            <p class="fs-5 text-start" style="color: rgba(2, 2, 252, 0.76); font-family: cursive;">
                I am a web developer.I thoroughly understand your software specifications and develop, test and implement them..</p>
      </div>
      <div class="col-10 col-lg-6 col2"data-aos="fade-up">
        <img src="assets/images/ui-design.png" alt="" width="10%">
        <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;">Web Design</h2>
        <p  class="fs-5 text-start" style="color: rgba(2, 2, 252, 0.76); font-family: cursive;" >I offer custom and affordable Web Design Services. My vision is to take your ideas, plan on it & implement it to create your website.</p>
      </div>
      
    </div>
    <div class="row mb-5">
        <div class="col-10 col-lg-6 col3"data-aos="fade-up">
          <img src="assets/images/programming.png" alt="" width="10%">
          <h2  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;">Customer Support</h2>
          <p  class="fs-5 text-start" style="color: rgba(2, 2, 252, 0.76); font-family: cursive;">Best of all, I won’t rest until you get exactly what you wanted to get done. I take pride in ensuring all of the customers are satisfied with my final product.</p>
        </div>
        <div class="col-10 col-lg-6 col4"data-aos="fade-up">
          <img src="assets/images/content.png" alt="" width="10%">
          <h2  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;">Video & Photo editing</h2>
          <p  class="fs-5 text-start" style="color: rgba(2, 2, 252, 0.76); font-family: cursive;">I offer the services of editing segments of motion video production footage, special effects and sound recordings in the post-production process.</p>
        </div>
        
      </div>
  </div>